@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}

body{
    background-color: rgb(48, 48, 48);
    color: gold;
    
}

.mainNav{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-bottom: 1rem;
    
    
    
}

.mainNav a{
    color: black;
    text-decoration: none;
    
}



.listeNav{
    border: solid gold;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffd700;
    box-shadow: inset 0 0 0 0 rgb(255, 21, 0);
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    border: solid black;
    
    
    
}


.listeNav:hover{
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 rgb(255, 21, 0);
    
}


h1{
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin: 2.5rem;
    margin-top: 6rem;
    
    
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
    
}

h2{
    display : flex;
    justify-content: center;
    margin: 2rem;
}

.regles{
    display: block;
    justify-content: center;
    text-align: center;
    
}
.texteRegles{
    margin: .5rem;
}

li{
    margin: .5rem;
}

#image{
    width: 30vw;
    margin: 3rem;
}

.boutonJouer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    
}

#jouer{
    font-size: 25px;
    background-color: gold;
    color: black;
    border: solid black;
    border-radius: 10px;
     box-shadow: inset 0 0 0 0 rgb(255, 21, 0);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button#jouer:hover{
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 rgb(187, 166, 48);
     box-shadow: inset 200px 0 0 0 rgb(255, 21, 0);
}

#nuit{
    margin: 10px;
    margin-bottom: 30px;
}

/* page inscription */

form{
    display: flex;
    justify-content: center;
}

fieldset{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px;
    border-radius: 10px;
    
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.champsRemplir{
    width: 30rem;
}

.texteImage{
    display: flex;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

img#error{
    margin-left: 2rem;
    margin-bottom: 2px;
}

.consignes{
    font-size: 8px;
    color: white;
}

#valider:hover{
    cursor: pointer;
}

#niveauMdp{
    display: flex;
    justify-content: space-between;
    color: white;
}



/* page de jeu*/

.principal{
    display: flex;
    justify-content: center;
}

#zoneDeJeu.zoneDeJeu{
    
    
    display: flex;
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding: 0px;
    transform: rotateX(0deg);
    
    
    
}


.carte{
    width : 100%;
    height: 100%;
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    justify-content: center;
}



.laCarte{
    
    width: 10rem;
    height: 10rem;
    
}

.laCarte:hover{
    cursor : pointer;
}

.verso{
    display: none;
    width: 10rem;
}

#rejouer a{
    margin-top: 2rem;
    color: black;
    text-decoration: none;
    border: solid gold;
    padding: 10px;
    border-radius: 10px;
    background-color: gold;
    border: solid black;
    box-shadow: inset 0 0 0 0 rgb(255, 21, 0);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    transition-property: transform;
    transition-duration: 1000ms;

}


#centrer{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#nbCoup{
    justify-content: center;
    display: flex;
    width: 20rem;
    
    color: black;
    text-decoration: none;
    border: solid gold;
    padding: 5px;
    border-radius: 10px;
    background-color: gold;
    margin: 0px;
    
    
    border: solid black;
}

#nbcps{
    justify-content: center;
}

.zoneDeJeu{
    border: solid 1rem rgba(0, 0, 0, 0.349);
    padding: 2rem;
    border-radius: 3rem;
}


#rejouer a:hover{
    box-shadow: inset 200px 0 0 0 rgb(255, 21, 0);
    transform: scale(1.15);
}



footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

nav{
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    border-bottom: solid 5px gold;
    background-color: rgb(48, 48, 48) ;
    
}

#victoire{
    font-size: 0px;
    margin: 0;
    animation: colorRotate .5s linear 0s infinite;
    padding: 0px;
    margin-bottom: 5px;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}


#choixCartes{
    display: flex;
    justify-content: center;
}

#choix{
    color: black;
    text-decoration: none;
    border: solid gold;
    padding: 5px;
    border-radius: 10px;
    background-color: gold;
    margin: 0px;
    border: solid black;
}



/*connection*/

.mdpIncorrect{
    color: red;
    font-size: 10px;
    text-align: center;

}


/* profil*/
#score{
    display: flex;
    justify-content: center;
}

#logout-btn{
    
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: black;
    text-decoration: none;
    border: solid gold;
    padding: 5px;
    border-radius: 10px;
    background-color: gold;
    margin: 0px;
    border: solid black;
    transition: transform 0.5s ease;
    cursor: pointer;
}

#logout-btn:hover{
    transform: scale(1.15);
}

#logout-btn.loading:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading 1.2s linear infinite;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }